@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Páginas Amarelas</title>
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" >
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' >
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <link rel="shortcut icon" href="~/img/favicon.ico" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" asp-append-version="true">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <img class="logo" src="~/img/Logo_PA.svg" alt="Logotipo">
                    <!--<i class="fa fa-bicycle"></i>  <span class="light">Páginas</span> Amarelas -->
                </a>
            </div>


            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">

                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll login-btn">
                        <a href="@Url.Action("Cadastro", "Cadastro")">Cadastrar</a>                        
                    </li>
                    <li class="page-scroll login-btn">
                        <a href="@Url.Action("login", "Home")">Entrar</a>                        
                    </li>

                </ul>
            </div>

        </div>

    </nav>

    <section class="intro">
            <div class="wrap">
                <div class="search">
                    <input id="search-btn" type="text" class="searchTerm" placeholder="O que você está procurando?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="filter-container">
                    <div class="filters">
                        <select name="sources" id="categorias" class="custom-select sources" placeholder="Source Type">
                            <option value="categorias">Categoria</option>
                            <option value="word">Word</option>
                            <option value="hashtag">Hashtag</option>
                        </select>
                        <select name="sources" id="estados" class="custom-select sources" placeholder="Source Type">
                            <option value="estados">Estado</option>
                            <option value="word">Word</option>
                            <option value="hashtag">Hashtag</option>
                        </select>
                        <select name="sources" id="cidades" class="custom-select sources" placeholder="Source Type">
                            <option value="cidades">Cidade</option>
                            <option value="word">Word</option>
                            <option value="hashtag">Hashtag</option>
                        </select>
                    </div>
                </div>
            </div>


    </section>

    <section id="results" class="results-section container">
        <ul class="results-list">
            <li class="card">
                <img src="~/img/intro-bg-rural.jpg" alt="Avatar">
                <div class="container-card">
                    <h4><b>Valdir Camilo</b></h4> 
                    <p>Pedreiro</p> 
                    <p class="description">Mais de 20 anos em trabalhos em alvenaria, concreto e outros materiais...</p> 
                </div>
            </li>

            <li class="card">
                <img src="~/img/intro-bg-rural.jpg" alt="Avatar">
                <div class="container-card">
                    <h4><b>Valdir Camilo</b></h4> 
                    <p>Pedreiro</p> 
                    <p class="description">Mais de 20 anos em trabalhos em alvenaria, concreto e outros materiais...</p> 
                </div>
            </li>

            <li class="card">
                <img src="~/img/intro-bg-rural.jpg" alt="Avatar">
                <div class="container-card">
                    <h4><b>Valdir Camilo</b></h4> 
                    <p>Pedreiro</p> 
                    <p class="description">Mais de 20 anos em trabalhos em alvenaria, concreto e outros materiais...</p> 
                </div>
            </li>

            <li class="card">
                <img src="~/img/intro-bg-rural.jpg" alt="Avatar">
                <div class="container-card">
                    <h4><b>Valdir Camilo</b></h4> 
                    <p>Pedreiro</p> 
                    <p class="description">Mais de 20 anos em trabalhos em alvenaria, concreto e outros materiais...</p> 
                </div>
            </li>

            <li class="card">
                <img src="~/img/intro-bg-rural.jpg" alt="Avatar">
                <div class="container-card">
                    <h4><b>Valdir Camilo</b></h4> 
                    <p>Pedreiro</p> 
                    <p class="description">Mais de 20 anos em trabalhos em alvenaria, concreto e outros materiais...</p> 
                </div>
            </li>
            
        </ul>
    </section>
    
    <dir class="fix-footer"> </dir>

    <footer id= "footer" class="brand">
        <a class="fa">
            <span class="light">© 2022 | <img class="logo" src="~/img/Logo_PA_footer.svg" alt="Logotipo">
        </a>
    </footer>

    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Usuário criado com sucesso!", '@TempData["success"]', "success");
            };
        </script>
    }


    <script src="~/js/jquery.js" ></script>
    <script src="~/js/bootstrap.js" ></script>
    <script src="~/js/jquery.easing.js" ></script>
    <script src="~/js/style.js" ></script>

</body>

</html>
